<section class="team-section" id="team-section">
  <div class="team-header">
    <h2>{{ 'team.title' | translate }}</h2>
    <p>{{ 'team.description' | translate }}</p>
  </div>

  <div class="team-grid">
    <div class="team-member">
      <div class="member-avatar avatar-1"></div>
      <div class="member-name">Gabriel Ramirez</div>
      <div class="member-role">{{ 'team.roleFrontend' | translate }}</div>
    </div>

    <div class="team-member">
      <div class="member-avatar avatar-2"></div>
      <div class="member-name">Edwin Nicho</div>
      <div class="member-role">{{ 'team.roleBackend' | translate }}</div>
    </div>

    <div class="team-member">
      <div class="member-avatar avatar-3"></div>
      <div class="member-name">Sebastian Sayago</div>
      <div class="member-role">{{ 'team.roleDesigner' | translate }}</div>
    </div>

    <div class="team-member">
      <div class="member-avatar avatar-3"></div>
      <div class="member-name">Galindo, Italo</div>
      <div class="member-role">{{ 'team.roleDesigner' | translate }}</div>
    </div>

    <div class="team-member">
      <div class="member-avatar avatar-4"></div>
      <div class="member-name">Alexander Vasquez</div>
      <div class="member-role">{{ 'team.roleProductOwner' | translate }}</div>
    </div>
  </div>
</section>
