<footer class="site-footer">
  <div class="footer-inner">
    <div class="footer-brand">
      <div class="footer-logo">
        <span class="leaf leaf-1"></span>
        <span class="leaf leaf-2"></span>
        <span class="leaf leaf-3"></span>
        <span class="leaf leaf-4"></span>
        <span class="center-dot"></span>
      </div>
      <div class="brand-text">
        <span class="brand-name">AgriDron</span>
        <span class="brand-sub">{{ 'footer.brandSub' | translate }}</span>
      </div>
    </div>

    <div class="footer-links">
      <h4>{{ 'footer.linksTitle' | translate }}</h4>
      <ul>
        <li>{{ 'navbar.home' | translate }}</li>
        <li>{{ 'navbar.functionalities' | translate }}</li>
        <li>{{ 'navbar.how-it-works' | translate }}</li>
        <li>{{ 'navbar.target-audience' | translate }}</li>
        <li>{{ 'navbar.team' | translate }}</li>
      </ul>
    </div>

    <div class="footer-contact">
      <h4>{{ 'footer.contactTitle' | translate }}</h4>
      <ul>
        <li>info@agridron.com</li>
        <li>+51 987 654 321</li>
        <li>Lima, Perú</li>
      </ul>
    </div>

    <div class="footer-socials" [attr.aria-label]="'footer.socialsLabel' | translate">
      <span class="social fb">f</span>
      <span class="social in">in</span>
      <span class="social ig">◌</span>
    </div>
  </div>

  <div class="copyright">{{ 'footer.copyright' | translate }}</div>
</footer>
